@mixin relieve{
    background-color: $Light-Grey;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 2px 5px rgba(70, 70, 70, 0.527);
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 1rem;
}