@import "variables";
@import "default";
@import "mixins";



.container{
    width: 98vw;
    height: 96vh;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px rgba(70, 70, 70, 0.527);
    padding: 1rem;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-pintado-mano-diferentes-colores_23-2148942310.jpg?t=st=1651229827~exp=1651230427~hmac=5f649cea50312f0b24c1608836bb43370135c12db85f817c35c5999e999a481e&w=1380);
    background-repeat: no-repeat;
    background-size: cover;

    .container__part{
        width: 90vw;
        margin: auto;
        border-radius: 1rem;
        //@include relieve;
    
        .menu{
            display: flex;
            height: 5rem;
            align-items: center;
            justify-content: center;
            
            img{
                @include relieve;
                margin-right: 1rem;
                padding: 0.5rem;
                margin-top: 0.5px;
            }

            .ul{
                display: flex;
                list-style: none;
                
                .ul__li>a{
                    @include relieve;
                    font-size: 1.5rem;
                    margin-left: 1rem;
                    text-decoration: none;
                    padding: 1.28rem;
                    border-radius: 0.8rem;
                    
                }
            }
        }

        
        
    }

    .container__part--main{
        @include relieve;
        width: 90vw;
        height: 75vh;
        opacity: 0.8
    }

    .container__part--footer{
        @include relieve;
        height: 7vh;
        width: 90vw;
    }


}